@font-face {
  font-family: "Airbnb Cereal App";
  src: url(/assets/airbnb-cereal-font/AirbnbCereal_W_Md.otf);
}

body {
  font-family: "Airbnb Cereal App" !important;
}

header {
  padding-bottom: 100px;
}

.custom-nav {
  color: #2e266f !important;
}

.active-custom {
  font-weight: bold !important;
  border-bottom: #2e266f 5px solid;
}

.custom-main{
    padding-bottom: 60px;
}

.custom-awesome {
  font-size: 20px !important;
  color: #efc81a !important;
  margin-top: 150px !important;
  margin-left: -50px !important;
}

.custom-space {
  margin-top: 100px !important;
  margin-bottom: 50px;
}

.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.gap-medium {
  gap: 24px;
}

.cus-grid-md-3 {
  grid-column: span 3 / span 3;
}

.title-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: flex-end;
  color: white;
  font-size: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.custom-list-footer {
  padding: 20px;
}
.custom-list-footer a {
  text-decoration: none;
  color: gray !important;
}
.custom-footer {
  background-color: #efc81a;
  padding: 10px;
  color: white;
}

.custom-inner-footer {
  margin-top: 100px !important;
  display: flex;
  flex-direction: row;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 640px) {
  .footer-links {
    margin-left: 0;
    font-size: 14px;
  }
  .custom-inner-footer {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .cus-grid-md-3 {
    grid-column: span 6 / span 6;
  }
}

@media (max-width: 640px) {
  .cus-grid-md-3 {
    grid-column: span 12 / span 12;
  }
}
